<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdevelopersumankr.second_navigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Second_Navigation">
        <activity android:name=".Fragment_for_exit"></activity>
        <activity android:name=".Fragment_for_setting" />
        <activity android:name=".tab_fragemnt.Tab_fragment_five" />
        <activity android:name=".tab_fragemnt.Tab_fragment_four" />
        <activity android:name=".tab_fragemnt.Tab_fragment_three" />
        <activity android:name=".tab_fragemnt.Tab_fragment_two" />
        <activity android:name=".fragment_leftside.Share_fragment" />
        <activity android:name=".fragment_leftside.Ask_fragment" />
        <activity android:name=".fragment_leftside.Help_fragment" />
        <activity android:name=".fragment_leftside.About_us_fragment" />
        <activity android:name=".fragment_leftside.Contact_us_fragment" />
        <activity android:name=".fragment_leftside.Faqs_fragment" />
        <activity android:name=".fragment_leftside.Photo_fragment" />
        <activity android:name=".fragment_leftside.Home_fragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>